.forgot-container {
    background: linear-gradient(to bottom, rgba(113, 63, 18, 0.2), #000);

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-box {
  background-color: #0e0b07;
  padding: 2rem;
  border-radius: 10px;
  width: 420px;
  border: 2px solid rgba(202, 138, 4, 0.4);
  box-shadow: 0 0 10px rgba(250, 204, 21, 0.2);
  position: relative;
}

.forgot-title {
  color: #facc15;
  text-align: center;
  margin-bottom: 1.5rem;
  font-family: 'Georgia', serif;
  font-size: 24px;
  letter-spacing: 1px;
}

label {
  color: #facc15;
  font-size: 13px;
  font-family: 'Georgia', serif;
  margin-bottom: 6px;
  display: block;
}

.input-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.input-group input {
  width: 100%;
  padding: 10px 40px 10px 36px;
  border-radius: 8px;
  background-color: rgba(113, 63, 18, 0.2);
  border: 2px solid rgba(113, 63, 18, 0.4);
  color: #fefce8;
  font-family: 'Georgia', serif;
  font-size: 14px;
  outline: none;
}

.icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #d97706;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #facc15;
  cursor: pointer;
}

.forgot-button {
  width: 100%;
  padding: 12px;
  background: #f59e0b;
  color: white;
  font-family: 'Georgia', serif;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 6px;
  transition: background 0.3s ease;
}

.forgot-button:hover {
  background-color: #d97706;
  color: white;
}
.error-text {
  color: #f44336;
  font-size: 0.85rem;
  margin-top: 5px;
}
.social-icons {
  margin-top: 20px;
  text-align: center;

  .social-text {
    margin-bottom: 10px;
    font-size: 0.95rem;
    color: #555;
  }

  .icons {
    display: flex;
    justify-content: center;
    gap: 15px;

    .social-button {
      background: #f1f1f1;
      border: none;
      padding: 10px;
      border-radius: 50%;
      cursor: pointer;
      transition: background 0.3s ease;

      &:hover {
        background: #e0e0e0;
      }

      svg {
        font-size: 1.2rem;
        color: #555;
      }

      &.google svg {
        color: #db4437;
      }
      &.facebook svg {
        color: #3b5998;
      }
      &.twitter svg {
        color: #1da1f2;
      }
    }
  }
}
